
<app-header></app-header>


<ion-content>
  <div class="bannerimg"><img src="../../../assets/banner/banner.jpg" width="100%" height="100px"></div>
   <div class="recentpost">
    <ion-item><h6>RECENT POSTS</h6></ion-item>
    <ion-card *ngFor="let c of crops">
      <ion-item lines="none">
        <ion-thumbnail slot="start"><img src="https://i.pravatar.cc/150" /></ion-thumbnail>
        <ion-label>
          <h5>Ramesh Kumar - {{c.location}}</h5>
          <h5>{{c.name}} - ₹{{c.price}}/kg</h5>
          <small style="opacity: 0.5;">Qty: {{c.quantity}},</small>
          <small style="opacity: 0.5;margin:0 10px;">delevery: 15-Jan</small>
        </ion-label>
        <ion-badge slot="end" color="success"><ion-icon name="call-outline"></ion-icon></ion-badge>
      </ion-item>
    </ion-card>
  </div>
</ion-content>