ion-item {--background:transparent;--color:#fff;
    h2 {margin:0;line-height:10px;}
    ion-button {--box-shadow:none;width:40px;height:40px;font-size:30px;}
}

ion-button {--box-shadow:none;--padding-end:0px;--padding-top:0px;--padding-bottom:0px;--padding-start:0px;margin-right:10px;
    ion-icon {background:#ffffff4c;margin:5px;border-radius:100%;padding:7px;font-size:15px;color:#fff;}
}

