.cat-col {text-align:center;
    img { width:70px;height:70px;border-radius:50%;object-fit:cover;margin-bottom:8px;box-shadow:0 4px 10px rgba(0, 0, 0, 0.1);}
    p {font-size:14px;font-weight:500;margin:0;}
}

.cat-card {display:flex;flex-direction:column;align-items:center;padding:12px;}





