<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start"><ion-back-button defaultHref="/tabs/home"></ion-back-button></ion-buttons>
    <ion-title>{{ title | titlecase }}</ion-title>
    <ion-label slot="end"><span style="margin-right:10px;">Ph: 9898989898</span></ion-label>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let c of allItems">
        <ion-card class="card">
          <swiper-container slides-per-view="1" pagination="true" loop="true">
            <swiper-slide><ion-img [src]="c.image"></ion-img></swiper-slide>
            <swiper-slide><ion-img [src]="c.image"></ion-img></swiper-slide>
            <swiper-slide><ion-img [src]="c.image"></ion-img></swiper-slide>
          </swiper-container>

          <ion-card-content>
            <ion-item lines="none">
              <ion-button shape="round">🌾</ion-button>
              <ion-label> <h2>Raghav Ranjan</h2> <small>1 Day</small> - <small>{{ c.location }} Bihar</small> </ion-label>
              <ion-badge color="danger" class="follow">Follow</ion-badge>
            </ion-item>

            
            <ion-item lines="none">
              <ion-label><h2>{{ c.name | titlecase}} - <small>₹{{c.price}}/kg</small></h2></ion-label>
              <ion-label><h2>Qty: <small>{{c.quantity}}</small></h2></ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label><ion-badge slot="end" color="success" style="padding:5px;"><ion-icon name="call-outline"></ion-icon> Call Now</ion-badge></ion-label>
              <ion-label><p>Ph. 9898989898</p></ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>