<app-header></app-header>

<ion-content>

  <swiper-container slides-per-view="1" pagination="true" autoplay-delay="3000" loop="true">
    <swiper-slide><img src="assets/banner/banner.jpg" /></swiper-slide>
    <swiper-slide><img src="assets/banner/banner2.jpg" /></swiper-slide>
    <swiper-slide><img src="assets/banner/banner3.jpg" /></swiper-slide>
  </swiper-container>

  <swiper-container slides-per-view="4" autoplay-delay="2000" loop="true">
    <swiper-slide *ngFor="let cat of categories">
      <div class="cat-card" (click)="openCategory(cat)">
        <img src="https://i.pravatar.cc/150" />
        <p>{{ cat }}</p>
      </div>
    </swiper-slide>
  </swiper-container>



  <div class="recentpost">
    <ion-item><h6>RECENT POSTS</h6></ion-item>
    <ion-card *ngFor="let c of crops">
      <ion-item lines="none" (click)="detailspage(c)">
        <ion-thumbnail slot="start"><ion-avatar><img src="https://i.pravatar.cc/150" /></ion-avatar></ion-thumbnail>
        <ion-label>
          <h5>Ramesh Kumar - {{c.location}}</h5>
          <h5>{{c.name}} - ₹{{c.price}}/kg</h5>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>

</ion-content>