ion-content {text-align:center;--color:#fff;--background:linear-gradient(135deg, #0f5132, #198754);
    .btngroup {position:relative;width:100%;padding:0px 20px;top:20%;
        #googleBtn {margin:30px 0;}
    }
    
}