/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


swiper-container::part(bullet) {background:#c8e6c9;opacity:1;width:20px;border-radius:5px;height:5px;}
swiper-container::part(bullet-active) {background:white;width:20px;border-radius:5px;height:5px;}


.section-header {padding:16px 16px 0;
  h2 {margin:0;font-weight:700;}
  p {margin:0;color:#8a8a8a;font-size:14px;}
}

.card {border-radius:14px;margin:7px;
    ion-img {height:130px;object-fit:cover;}
    h3 {font-size:18px !important;margin:0;}
    .location {font-size:12px;}
    .follow {position:absolute;top:8px;right:8px;font-size:11px;padding:5px;}
    .price-row {display:flex;align-items:center;gap:6px;font-size:13px;}
}
/// Home page category styles
.cat-card {display:flex;flex-direction:column;align-items:center;padding:12px;
   img { width:70px;height:70px;border-radius:50%;object-fit:cover;margin-bottom:8px;box-shadow:0 4px 10px rgba(0, 0, 0, 0.1);}
    p {font-size:14px;font-weight:500;margin:0;}
}


ion-accordion.accordion-expanding > [slot=header] .ion-accordion-toggle-icon, ion-accordion.accordion-expanded > [slot=header] .ion-accordion-toggle-icon {
    transform: rotate(90deg);
}



.auth-bg {--background:linear-gradient(135deg, #0f5132, #198754);display:flex;justify-content:center;align-items:center;
    .auth-card {background:#fff;width:90%;max-width:360px;padding:25px;border-radius:18px;text-align:center;margin:50px auto 0;}
    .auth-card h2 {margin-bottom:5px;}
    .auth-card p {opacity:0.7;margin-bottom:15px;}
    ion-item {margin-bottom:12px;--border-radius:12px;}
    ion-button {margin-top:12px;}
    .link {margin-top:15px;}
    .link span {color:#198754;font-weight:600;cursor:pointer;}
}


ion-tab-button {
    --color-selected:#198754;
}